@charset "utf-8";

.TopContents_articles {
    display: flex;
    margin: 80px 225px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.TopContents_articles :hover {
    cursor: pointer;
}

.style_none {
    border: none;
    text-align: start;
}